.cardHover {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 276px;
  height: 276px;
  width: 276px;
  min-height: 276px;
  opacity: 0;
  /* cursor: pointer;
      background-color: #6ee8ff;
      opacity: 0.9; */

  /* box-shadow: 2px 2px 5px 0px #ddd; */
}
.cardHover:hover {
  cursor: pointer;
  background-color: #ddd;
  opacity: 0.9;
}
.costBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.costBox span {
  margin-right: 10px;
  font-size: 1.5rem;
}

.cardInfoInner {
  display: flex;
  height: 276px;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardInfoInner button {
  padding: 0.5rem 2rem;
  background-color: #fff;
  border-radius: 20px;
  border: none;
  margin-top: 5px;
}
