.congrats {
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.congratsMessage {
  width: 320px;
  height: 300px;
  background-color: #6ee8ff;
  border-radius: 6px;
  text-align: center;
  color: white;
  box-shadow: 0px 0px 9px 0px #2a96ab;
}
.congratsMessage h2 {
  font-size: 2.5rem;
  margin-bottom: 0;
}
.congratsMessage p {
  font-size: 1.2rem;
  margin-top: 0;
}

.logo {
  display: flex;
  justify-content: center;
  height: 50px;
}
.btn {
  font-size: 0.8rem;
  color: #666;
  background-color: #fff;
  padding: 5px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 20px;
  text-decoration: none;
}
.btn:hover {
  cursor: pointer;
  background-color: #ddd;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
