.sorter {
  padding: 10px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sorterLeft {
  display: flex;
  align-items: center;
}

.sortTxt {
  display: none;
}

.sortBy {
  color: #666;
}
.btn {
  padding: 0.5rem 1rem;
  background-color: #eee;
  border-radius: 20px;
  border: none;
  color: #666;
}

.btnActive {
  padding: 0.5rem 1rem;
  background-color: #6ee8ff;
  color: white;
  border-radius: 20px;
  border: none;
}

.btn:hover {
  cursor: pointer;
  background-color: #6ee8ff;
  color: white;
}

.btnArrow {
  padding: 0.5rem;
  background-color: #fff;
  border: none;
}
.btnArrow:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .sorter {
    flex-direction: row;
    justify-content: space-between;
  }
  .sortBy {
    margin-left: 20px;
  }
  .sortTxt {
    display: inline-block;
  }
}
@media (min-width: 850px) {
  .sorter {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1000px) {
  .sorter {
    /* width: 1176px; */
    flex-direction: row;
    justify-content: space-between;
  }
}
