.welcomeImage {
  background-image: url("../assets/header-x1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 312px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 20px;
}

.welcomeText {
  width: 1176px;
}

.welcomeText h3 {
  color: white;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .welcomeImage {
    height: 412px;
  }
  .welcomeText h3 {
    font-size: 4rem;
  }
}
