.welcomeImage {
  background-image: url("./assets/header-x1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 412px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.welcome-text {
  width: 1176px;
}

.products {
  width: 1176px;
  padding: 20px 0;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto auto;
}
